@mixin backgroundColor($direction) {
  background-image: linear-gradient(
    to $direction,

    $color-blue,
    $color-gray-light,
    $color-orange
  );
}
@mixin text-background-color($direction) {
  background-image: linear-gradient(to $direction, $color-blue, $color-orange);
  color: transparent;
  -webkit-background-clip: text;
}
// @mixin auto-margin {
//   padding: 11rem;
//   background: $color-dark-gray;
// }
