@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities.scss";
@import "components/button";
@import "components/contact";
@import "components/feature-box";
@import "components/image-comp";

@import "layout/grid";
@import "layout/footer";
@import "layout/nav";
@import "layout/header";
@import "pages/home";

%background-img-bottom {
  background-image: linear-gradient(
    to bottom,
    $color-blue,
    $color-white,
    $color-orange
  );
}
%background-img-unit {
  background-image: linear-gradient(
    to right,
    $color-orange,
    $color-blue 50%,
    $color-white 50%
  );
}
%background-img-units {
  background-image: linear-gradient(
    to left bottom,
    $color-blue,
    $color-orange,
    $color-gray-light
  );
}
%background-img {
  background-image: linear-gradient(to right, $color-blue, $color-orange);
}

%text-color-mixed {
  color: transparent;
  -webkit-background-clip: text;
}
%btn {
  text-decoration: none;
  font-size: 2rem;
  display: inline-flex;
  padding: 1.8rem 3.4rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
  // align-items: center;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: inset(2px 1px 5px $color-dark-white);
}

//navbar link style

//about section

%padd-100 {
  padding: 11rem;
  background: $color-dark-gray;
}

$width-100: 100%;
.about-container {
  padding: 13rem 11rem;
  background: $color-dark-gray;
  .about {
    &__image-box {
      position: relative;
      // z-index:1;

      &::after {
        content: "";
        position: absolute;
        height: 80px;
        right: 1rem;
        bottom: -4rem;
        width: 8rem;
        border-bottom: 1rem solid $color-orange;
        border-right: 1rem solid $color-orange;
      }
      &::before {
        content: "";
        position: absolute;
        height: 80px;
        left: 1rem;
        top: -5rem;
        width: 8rem;

        border-top: 1rem solid $color-orange;
        border-left: 1rem solid $color-orange;
      }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom:-2rem;
      //   left:4rem;

      //  padding:30rem 1rem;
      //   width:70%;
      //   border: 1rem solid $color-orange;

      // }
    }

    &__image {
      transform: rotateY(220deg);
      margin: auto;
      border-radius: 5px;
      // height:40rem;
      background-color: black;
    }
  }
}
// services-section
.skills-section,
.services-section,
.contact-section {
  text-align: center;
}
.skills-section {
  padding: 11rem;
  background: $color-dark-gray;
}
.services-section {
  padding: 11rem 0;
  background-color: $color-black;
}

.contact-section {
  padding: 11rem;
  background-color: $color-black;
}
