$orange: #f1662c;
$blue: #54b3d6;
$white: #fff;
$dark-white: #ddd;
$gray: #2928285b;
$dark-gray: #000000e4;
$black: #000;

%background-img-bottom {
  background-image: linear-gradient(to bottom, $blue, $white, $orange);
}
%background-img-unit {
  background-image: linear-gradient(to right, $orange, $blue 50%, $white 50%);
}
%background-img {
  background-image: linear-gradient(to right, $blue, $orange);
}
%text-color-mixed {
  color: transparent;
  -webkit-background-clip: text;
}
%btn {
  text-decoration: none;
  font-size: 2rem;
  display: inline-flex;
  padding: 1.8rem 3.4rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
  // align-items: center;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: inset(2px 1px 5px $dark-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
}
.home-container {
  height: 100vh;
  width: 100%;
}

nav {
  // padding: 2.5rem 5rem;
  padding: 2.5rem 10rem;
  // height: 10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  background-color: $dark-gray;
}
//Logo css style
.logo {
  &-box {
    width: 50%;
  }
  &-img {
    display: flex;
    gap: 1.5rem;
    .icon-logo {
      font-size: 4.5rem;

      color: $orange;
    }
  }
  &-name {
    color: $dark-white;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    padding: 0 0 0 1rem;
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
      width: 3px;
      @extend %background-img-bottom;
    }
    .sub-logo {
      display: block;
      font-size: 1.5rem;
      text-align: center;
      @extend %text-color-mixed;
      @extend %background-img;
    }
  }
}

.menu-icon {
  font-size: 1.8rem;
  border: 2px solid $orange;
  border-radius: 8px;
  z-index: 2;
  width: 3.8rem;
  padding: 1rem 0.5rem;
  color: $orange;
  background-color: rgba(5, 5, 5, 0.473);

  &-box {
    display: none;

    z-index: 1;
  }
}
//navbar link style
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-link {
  &:link,
  &:visited {
    @extend %background-img-unit;
    background-size: 200% 100%;
    background-position: -100%;
    @extend %text-color-mixed;
    transition: all 0.3s ease-in-out;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
  }
  &::before {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    background: $orange;
  }
  &:hover {
    background-position: 0;
    &::before {
      transform-origin: right;
      transform: scaleX(1);
    }
  }
  &:active {
    background-position: 0;
  }
}

.header {
  display: flex;
  flex-direction: row-reverse;
  padding: 10rem 1rem 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  &-paragraph {
    position: relative;
    color: $dark-white;
    width: 100%;

    &-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%);
      p {
        font-size: 2rem;
      }
    }
  }
}
.btn {
  &-div {
    text-align: center;
    z-index: 10;
    padding-top: 4rem;
  }
  &:link,
  &:visited {
    @extend %btn;
  }
  &:hover,
  &:active {
    background: $orange;

    color: $dark-white;
    box-shadow: inset(2px 4px 5px $dark-white);
  }
  &:focus {
    outline: none;
  }
}

.hire {
  border: 1px solid $orange;
  background: $gray;
  color: $orange;
}
h3 {
  &.hi {
    font-size: 2.8rem;
    font-weight: 400;
  }
  .names {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: "Clicker Script", cursive;
    color: $orange;
  }
  &.professional {
    font-size: 3rem;
    padding: 1.5rem 0;
  }
}

.typing {
  letter-spacing: 1.5px;
  @extend %text-color-mixed;
  @extend %background-img;
}

.img-box {
  width: 100%;

  .image {
    width: 100%;
    display: flex;
    height: 100%;
  }
}
//about section

%padd-100 {
  padding: 10rem;
  background: $dark-gray;
}
$width-100: 100%;
.about-container {
  @extend %padd-100;
  .about {
    display: flex;
    width: $width-100;
    align-items: center;
    justify-content: center;
    &-image-box {
      position: relative;
      // z-index:1;

      &::after {
        content: "";
        position: absolute;
        height: 80px;
        right: 1rem;
        bottom: -4rem;
        width: 8rem;
        border-bottom: 1rem solid $orange;
        border-right: 1rem solid $orange;
      }
      &::before {
        content: "";
        position: absolute;
        height: 80px;
        left: -1rem;
        top: -4rem;
        width: 8rem;

        border-top: 1rem solid $orange;
        border-left: 1rem solid $orange;
      }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom:-2rem;
      //   left:4rem;

      //  padding:30rem 1rem;
      //   width:70%;
      //   border: 1rem solid $orange;

      // }
    }

    &-image {
      transform: rotateY(220deg);
      margin: auto;
      border-radius: 5px;
      // height:40rem;
      background-color: black;
    }

    &-paragraph-box {
      color:$dark-white;
      font-size: 2.4rem;
      // width: $width-100;
    }
    &-heading{
      font-size: 4.8rem;
      @extend %text-color-mixed;
      @extend %background-img-unit;
      letter-spacing: 1.5px;
      // padding-bottom: 3rem;
      position: relative;
      &::before{
        content: " ";
        position: absolute;
        bottom:0;
        left:0;
        width:10%;
        height:3px;
       @extend %background-img;
      }
      &::after{
        content: " ";
        position: absolute;
        bottom:-1rem;
        left:0;
        width:7%;
        height:3px;
        @extend %background-img;
       
      }
    }
    &-paragraph{
      padding-top: 3rem;
    }

  }
}
