* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.home-container {
  height: 100vh;
  width: 100%;
  background-color: #000000e4;
}

nav {
  padding: 2.5rem 5rem;
  height: 10%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
//Logo css style
.logo-box {
  width: 50%;
}
.logo-img {
  display: flex;
  gap: 1.5rem;
}
.icon-logo {
  font-size: 4.5rem;

  color: #f1662c;
}
.logo-name {
  color: aliceblue;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  padding: 0 0 0 1rem;
  position: relative;
}
.logo-name::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 3px;
  background-color: rgb(123, 115, 115);
}
.sub-logo {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(161, 155, 155);
}
//navbar link style
.nav-links{
	list-style-type: none;
	display:flex;
	gap:2rem;
	align-items: center;
}
.nav-link:link,.nav-link:visited{
	text-decoration: none;
	color:rgba(255, 255, 255, 0.729);
	font-size: 1.8rem;
	text-transform: uppercase;
	transition: all .3s;
}
.nav-link:hover,.nav-link:active{
	color:#f1662c;
	
}
.header {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 90%;
  background-color: #000;
}
.img-box {
  width: 100%;
  //   background: red;
}
.image {
  width: 100%;
  display: flex;
  height: 100%;
}
.header-paragraph {
  width: 100%;
}
@media (max-width: 680px) {
  nav {
    padding: 2rem;
    height: auto;
  }
  .logo-box {
    width: 80%;
  }
  .icon-logo {
    font-size: 3.5rem;
  }
  .logo-name {
    font-size: 1.5rem;
  }
  .sub-logo {
    font-size: 1.2rem;
  }
}
