.m-bottom {
  margin-bottom: 6rem;
}
.btn-left {
  text-align: left;
  margin-top: 3rem;
}

.message {
  // display: flex;
  // justify-content: space-between;

  // align-items: center;
  //   background: red;
  position: relative;
  // height: fit-content;
  min-height: 60vh;
  width: 100%;
}
.send-message {
  width: 62%;
  position: absolute;
  top: 0;
  left: 3%;
  z-index: 5;
  border-radius: 8px;
  box-shadow: 0px 1px 2px $color-blue;
  padding: 5rem 8rem;
  background: $color-gray;
  .paragraph__subheading {
    text-align: left;
    font-size: 3.2rem;
    color: $color-dark-white;
    &--paragraph {
      font-size: 1.6rem;
      text-align: left;
      margin-bottom: 2rem;
    }
  }
  .names {
    display: flex;
    align-items: center;
    gap: 6rem;
    justify-content: center;
  }
  label {
    display: none;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    color: $color-dark-white;
    font-size: 1.8rem;
    padding: 1.5rem 0rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid $color-orange;

    &:focus {
      box-shadow: 0rem 1rem 2rem rgba($color-black, 0.2);
      border-bottom: 3px solid $color-blue;
      outline: none;

      &:invalid {
        color: $color-orange;
      }
    }
  }
}
.send-contact {
  background-image: linear-gradient(
    to right top,
    $color-orange 70%,

    $color-white 15%,
    $color-blue 15%
  );
  display: block;
  // background-color: $color-orange;
  padding: 3rem;

  width: 38%;
  text-align: left;
  position: absolute;
  right: 1%;
  z-index: 10;
  box-shadow: 0px 2px 10px $color-orange;
  border-radius: 3px;
  top: 12%;
  .contact__headings {
    font-size: 3.8rem;
    text-transform: uppercase;
    background-image: linear-gradient(
      to left bottom,

      $color-white,
      $color-blue
    );
    color: transparent;
    -webkit-background-clip: text;
  }
}
