.logo-skills {
  display: flex;
  gap: 3rem;
  row-gap: 3rem;
  flex-wrap: wrap;
  margin-top: 6rem;
  align-items: center;
  text-align: center;
}

.skills-img {
  height: 15rem;
  -webkit-animation: rotation 10s infinite linear;
  display: inline-block;
  filter: brightness(100%);

  display: inline-block;
  //   box-shadow: 1px 3px 3px $color-gray;
}

.border-radius {
  border-radius: 50%;
}
